header{
    background-color: rgb(37, 127, 155);
    width:100%;
    height: 250px;
}
.header-list ol{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-around; /* 均等に間隔を空けて並べる */
}


.header-img {
    width: 180px;    /* サイズを150ピクセルに */
    height: auto;    /* 高さは自動調整（縦横比を保つ） */
    margin-top: 10px; /* 文字との間に少し隙間を作る */
    border-radius: 8px; /* 角を少し丸くするとオシャレになります */
}

.header-title{
    border-bottom:3px solid black;
}