header{
    background-color: rgb(37, 127, 155);
    width:100%;
    height: 250px;
}
.header-list ol{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-around; /* 均等に間隔を空けて並べる */
}


.header-img /* 同列に扱う場合、まとめるとわかりやすい！*/{
    width: 180px;    /* サイズを150ピクセルに */
    height: auto;    /* 高さは自動調整（縦横比を保つ） */
    margin-top: 10px; /* 文字との間に少し隙間を作る */
    border-radius: 8px; /* 角を少し丸くするとオシャレになります */
}

.header-title {
    font-size: 24px;            /* 文字を大きくする */
    font-weight: bold;         /* 文字を太くする */
    border-bottom: 5px solid black; /* 下線を太く(5px)して確実に表示させる */
    padding: 10px;             /* 下線と文字の間に隙間を作る */
    display: inline-block;     /* 下線の長さを文字の幅に合わせる */
}